._c-navbar{
  position: fixed;
  height: 60px;
  width: calc(100vw - 100px);
  top: 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: $orange;
  color: white;
  a{
    margin: 0 10px;
  }
}