body {
  margin: 0;
  padding-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: $backgroundColor;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto', sans-serif;
}

p{
  margin: 5px 0;
}

a, a:hover, a:focus {
  text-decoration: none;
}

label {
    display: inline-block;
    max-width: 100%;
}

.hide {
    display: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input{
  padding: 5px;
  border: 0;
  border-radius: 5px;
  &:focus{
    outline-width: 0px;
  }
}

button{
  padding: 5px 10px;
  border: solid 1px $orange;
  border-radius: 5px;
  background-color: transparent;
  color: $orange;
  transition: .5s;
  margin: 5px 0;
  &:hover{
    background-color: $orange;
    color: white;
  }
  &.red{
    border-color: red;
    color: red;
    &:hover{
      background-color: red;
      color: white;
    }
  }
}
