._p-admin{
  display: flex;
}

.admin-menu{
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: lightgray;
  height: calc(100vh - 100px);
  a{
    color: $black;
    padding: 20px;
    transition: .2s;
  }
  a:hover, a.active{
    color: $orange; 
    background-color: gray;
  }
}

.admin-body{
  width: calc(100vw - 15%);
  padding: 20px;
}